body {
    font-family: Arial, sans-serif;
        /* background-color:rgb(195, 43, 73) */
        background-image: url("download.jpeg")
    ;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background:#b8a515 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(8, 99, 156, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(33, 145, 171);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

#productList {
    margin-top: 20px;
}

.product {
    border: 1px solid #cdbd28;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.product img {
    max-width: 100px;
    border-radius: 5px;
}